<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="shortcut icon" href="./images/common/favicon.png">
<link rel="stylesheet" type="text/css" href="./css/Main.css" />
<link rel="stylesheet" type="text/css" href="./css/sample.css" />
<script type="text/javascript"
		src="./script/jquery/jquery-1.12.4.min.js"></script>
<script type="text/javascript"
		src="./script/jquery/jquery.slimscroll.js"></script>
<script type="text/javascript"
		src="./script/Main.js"></script>
<script type="text/javascript">
//버튼에 한글자씩 추가되면 길이가 10씩 늘어납니다.
$(document).ready(function() {
    // Button Auto Sizing
    $('button').each(function() {
        if($(this).html().length > 2) {
            var leng_diff = $(this).html().length - 2;
            $(this).width($(this).width() + (10 * leng_diff) + "px");  
        }
    })
    $('.content_btn>div').each(function() {
        if($(this).html().length > 2) {
            var leng_diff = $(this).html().length - 2;
            $(this).width($(this).width() + (10 * leng_diff) + "px");  
        }
    })
});
</script>
</head>
<body>
<div class="left_wrap">
	<div class="logo_wrap"><div><img src="./images/common/logo.png"><span>Mango</span> CRM</div></div>
	<div class="menu_wrap">
		<div class="first_menu_wrap">
			<div class="first_menu_on">
				<div><div class="menu_txt">제안</div><div class="menu_gbn"></div></div>
			</div>
			<div class="second_menu_wrap">
				<div class="second_menu_on">
					<div>제안서 목록</div>
				</div>
				<div class="second_menu">
					<div>상세조회</div>
				</div>
				<div class="second_menu">
					<div>수정</div>
				</div>
			</div>
		</div>
		<div class="first_menu">
			<div><div class="menu_txt">가나다라마</div><div class="menu_gbn"></div></div>
		</div>
		<div class="first_menu">
			<div>가나다라마사아</div>
		</div>
	</div>
</div>
<div class="right_wrap">
	<div class="gnb_wrap">
		<div class="gnb_area">
			<div>
				<div>Home > 제안 > 제안서 수정</div>
			</div>
		</div>
		<div class="person_area">
			<div class="p_img"></div>
			<div class="p_info">
				<div>
					<div>조형준 이사<br/>영업2팀</div>
				</div>
			</div>
			<div class="p_btn_area">
				<div class="p_btn">
					<div>
						<div>정보수정</div>
					</div>
				</div>
				<div class="p_btn_space"></div>
				<div class="p_btn">
					<div>
						<div>로그아웃</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="title_area">제안서 수정</div>
	<div class="content_area">
	<!-- 여기에 내용을 구현 -->
	<!-- 버튼영역 -->
		<div class="top_area">
		<div class="top_title_area"></div>
		<div class="content_btn">
		<!-- 버튼영-->
				<div>삭제</div>
				<div>등록</div>
		</div>
		</div>
		<!-- 테이블 영역입니다. -->
		<div class="content_table">
			
			<table>
				<colgroup>
					<!-- 테이블열들의 너비입니다. -->		
					<col width="10%" />
					<col width="40%" />
					<col width="10%" />
					<col width="40%" />
				</colgroup>
				<tr>
                    <td class="field_name first_field_name">
                    	고객사 명 <span class="acc_txt">*</span>
                    </td>
                    <td class="field_contents">
                        <input type="text" class="input_normal" />
                    </td>
                    <td class="field_name">
                 	       담당자 <span class="acc_txt">*</span>
                    </td>
                    <td class="field_contents">
                        <select class="input_normal">
                            <option selected="selected">Test0</option>
                            <option>Test1</option>
                            <option>Test2</option>
                            <option>Test3</option>
                            <option>Test4</option>
                            <option>Test5</option>
                        </select>
                    </td>
                </tr>
				<tr>
					<th></th>
					<td>
						<input type="text" class="table_txt"/>
					</td>
					<th class="field_name"></th>
					<td>
						<input type="text" class="input_normal"/>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<input type="text" class="input_normal"/>
					</td>
					<th class="field_name"></th>
					<td>
						<input type="text" class="input_normal"/>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<input type="text" class="input_normal"/>
					</td>
					<th class="field_name"></th>
					<td>
						<input type="text" class="input_normal"/>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<input type="text" class="input_normal"/>
					</td>
					<th class="field_name"></th>
					<td>
						<input type="text" class="input_normal"/>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<input type="text" class="input_normal"/>
						
					</td>
					<th class="field_name"></th>
					<td>
						<input type="text" class="table_txt1"/>
						<button class="bottom_btn_2" >검색</button>
					</td>
				</tr>
				<tr>
					<th ></th>
					<td colspan="3">
						<input type="text" class="input_normal"/>
					</td>
				</tr>
				<tr>
					<th ></th>
					<td colspan="3" >
						<input type="text" class="table_txt2"/>
						<button class="bottom_btn_2" >첨부파일</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="content_bottom"></div>
	</div>
</div>
</body>
</html>