/* 
    모든 입력 폼의 스타일을 정의
*/
* {
	box-sizing: border-box;
}

/* 기본 입력폼 스타일 */
.input_normal {
    width: 100%;
    height: 30px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
	
    font-size: 10pt;
    text-indent: 5px;
}

/* 사이즈 설정 입력폼 스타일 */
.input_size {
    height: 30px;
    border: 1px solid #969696;
    border-radius: 3px;
	vertical-align: middle;
    font-size: 10pt;
    text-indent: 5px;
}

/* 기본 입력폼 Placeholder 스타일 */
.input_normal::placeholder {
    color: #cacaca;
}

/* 짧은 입력폼 스타일 */
.input_short {
    width: 30%;
    height: 30px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    font-size: 10pt;
    text-indent: 5px;
}
/* 짧은 입력폼 Placeholder 스타일 */
.input_short::placeholder {
    color: #cacaca;
}

/* 
    읽기 전용 입력폼 스타일 
    - 보통 주소 입력폼에서 사용  
*/
.input_readonly {
    background-color: #e0e0e0;
    color: #7a7a7a;
    vertical-align: top;
}
/* 주소 입력폼 간격용 div magin 스타일 */
.field_contents>.address_margin {
    margin-bottom: 10px;
}

/* Textarea 기본 스타일 - 가로 크기 고정 */
.textarea_normal {
    width: 100%;
    height: 100px;
    min-height: 100px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    resize: vertical;

    font-size: 10pt;
}
/* Textarea 크기고정 스타일 */
.textarea_noresize {
    width: 100%;
    height: 60px;
    min-height: 60px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    resize: none;

    font-size: 10pt;
}

/* 짧은 Select 박스 스타일 */

/* 폼 포커스 스타일 */
input:focus, textarea:focus, select:focus {
    border: 1px solid #27a7df;
    box-shadow: none;
    outline: none;
}
/* 드랍다운 리스트 */
.input_DD:hover {
	cursor:pointer;
}

/* 고객 검색 텍스트 스타일*/
.input_txt_100size {
	width : 100px;
}
.input_txt_200size {
	width : 200px;
}

/* 체크 박스 스타일 */
.input_ck {
	width : 20px;
	height : 20px;
}
/* 텍스트 글자수 제한 */
.input_maxlength:maxlength  {
	maxlength : 4;
}

/* header 체크박스 스타일 */
.squaredOne_h {
	width: 20px;
}
.squaredOne_h label {
	width: 23px;
	height: 23px;
	cursor: pointer;
	display :inline-block;
	text-align : center;
	background-color : #FFFFFF;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(39, 167, 223, 0.4);
	
}
.squaredOne_h label:after {
	content: "";
	width: 14px;
	height: 10px;
	display :inline-block;
	border: solid #27a7df;
	border-width: 0 0 3px 3px;
	opacity: 0;
	text-align : center;
	-webkit-transform: rotate(-50deg);
	transform: rotate(-50deg);
	box-shadow:inset 0 -1px 0 rgba(255, 255, 255, 0.7);
}
.squaredOne_h label:hover::after {
	opacity: 0.3;
}
.squaredOne_h input[type=checkbox]:checked + label:after {
	opacity: 1;
}
/* body 체크박스 스타일 */
.squaredOne {
	width: 20px;
}
.squaredOne label {
	width: 23px;
	height: 23px;
	cursor: pointer;
	display :inline-block;
	text-align : center;
/* 	background: -webkit-linear-gradient(top, #222222 0%, #27a7df 100%); */
/* 	background: linear-gradient(to bottom, #222222 0%, #27a7df 100%); */
	background-color : #27a7df;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(39, 167, 223, 0.4);
	
}
.squaredOne label:after {
	content: "";
	width: 14px;
	height: 10px;
	display :inline-block;
	border: solid #fcfff4;
	border-width: 0 0 3px 3px;
	opacity: 0;
	text-align : center;
	-webkit-transform: rotate(-50deg);
	transform: rotate(-50deg);
	box-shadow:inset 0 -1px 0 rgba(255, 255, 255, 0.7);
}
.squaredOne label:hover::after {
	opacity: 0.3;
}
.squaredOne input[type=checkbox]:checked + label:after {
	opacity: 1;
}

  .datePicker {
        text-align:center;
        width:80px;    
    }