/* 
    공통되어 사용되는 레이아웃을 정의
    상황에 맞는 클래스를 부여해서 사용
*/
* {
	box-sizing: border-box;
}

/* 내용 영역 감싸기 - 크기 1080px로 제한 */
.contents_wrap {
    width: 1080px;
}
/* 테이블 타이틀과 버튼이 들어가는 공간 */
.table_top_area {
    width: 1200px;
    margin-top: 10px;
    font-size: 0;
    color: #000000;
}
/* 테이블 타이틀 공간 */
.top_title_area {
    display: inline-block;
    width: 50%;
    height: 50px;
    line-height: 50px;

    vertical-align: middle;
    text-align: left;

    font-size: 15pt;
    font-weight: bold;
}
/* 테이블 리스트 체크 현황 */
.top_title_area>div {
    font-size: 10pt;
    font-weight: normal;
}
/* 버튼 공간 */
.top_btn_area {
    display: inline-block;
    width: 50%;
    height: 50px;
    line-height: 50px;
	font-size : 10pt;
    vertical-align: middle;
    text-align: right;
}

/* 기본 테이블 설정 */
.table_normal {
    width: 1200px;
    text-align: center;
    border-collapse: collapse;
/*     border-top: 2px solid #F2B807; */
    font-size: 0;
}
/* tr 기본 설정 */
tr {
    height: 50px;
    font-size : 15px;
    border-bottom: 1px solid #cacaca;
}
/* tr 밑줄 없는 설정 */
.tr_no_uline {
    border-bottom: 0;
}
/* 필드명 */
.field_name {
    background-color: #f2f2f2;
    color: #272727;
    border: 1px solid #cacaca;

    font-size: 10pt;
    font-weight: bold;
}
/* 맨왼쪽 필드명 스타일 - border-left 제거 */
.first_field_name {
    border-left: 0;
}
/* 맨오른쪽 셀 스타일 */
.last_field_name {
    border-right: 0 ;
}
/* 필드 내용 */
.field_contents {
    padding: 10px 15px;

    text-align: left;
    vertical-align: middle;

    font-size: 10pt;
}
/* 필드 내용이되 정렬은 가운데로 하고싶을때 */
.contents_align_center {
    text-align: center;
}
/* 강조 텍스트 */
.acc_txt {
    color: #ff3737;
    font-weight: 800;
}

/* 빈 공간 div */
.blank_space {
    width: 100%;
    height: 50px;
}



/* 리스트 감싸기 - 크기 1100px 로 제한 */
.list_wrap {
    width: 1200px;
}
/* 리스트 테이블 */
.table_list {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    font-size: 0;
}
/* 리스트 테이블 헤더 */
.table_list_header {
    height: 50px;
    background-color: #27a7df;
    vertical-align: middle;
}
.table_list_header td {
    padding : 10px 15px;
    color: #ffffff;
    font-size: 10pt;
    font-weight: bold;
    vertical-align: middle;
}
/* 리스트 테이블 td 왼쪽 정렬 스타일 */
.table_list .list_contents td {
    padding : 10px 15px;
    font-size: 10pt;
    color: #000000;
    vertical-align: middle;
}
.list_contents td:hover {
	cursor : pointer;
/* 	border-bottom : 1px solid #595959; */
	text-decoration : underline;
}

/* none_hover */
.none_hover {
	cursor : default;
}
.td_left_align {
    text-align: left;
}
/* 리스트 테이블 페이지 인덱스 영역 */
.list_paging_area {
    width: 100%;
    height: 40px;
    line-height: 40px;

    margin-top: 30px;

    text-align: center;
    vertical-align: middle;
}

.field_DD_size {
	display : inline-block;
	width : 200px;
	vertical-align: top;
}
/* 필드 내용이되 정렬은 가운데로 하고싶을때 */
.contents_align_center {
    text-align: center;
}
/* 강조 텍스트 */
.acc_txt {
    color: #ff3737;
    font-weight: 800;
}

/* 빈 공간 div */
.blank_space {
    width: 100%;
    height: 50px;
}
/* 기본 입력 폼 % 사이즈 */
/* 10% */
.size10{
	width:10%;
}
/* 15% */
.size15{
	width:15%;
}
/* 20% */
.size20{
	width:20%;
}
/* 25% */
.size25{
	width:25%;
}
/* 30% */
.size30{
	width:30%;
}
/* 35% */
.size35{
	width:35%;
}
/* 40% */
.size40{
	width:40%;
}
/* 48% */
.size48{
	width:48%;
}
/* 60% */
.size60{
	width:60%;
}
/* 70% */
.size70{
	width:70%;
}
/* 75% */
.size75{
	width:75%;
}
/* 80% */
.size80{
	width:80%;
}
/* 기본 입력 폼 px 사이즈 */
/* 10px */
.pxsize10{
	width:10px;
}
/* 20px */
.pxsize20{
	width:20px;
}
/* 25px */
.pxsize25{
	width:25px;
}
/* 35px */
.pxsize35{
	width:35px;
}
/* 40px */
.pxsize40{
	width:40px;
}
/* 50px */
.pxsize50{
	width:50px;
}
/* 60px */
.pxsize60{
	width:60px;
}
/* 70px */
.pxsize70{
	width:70px;
}
/* 75px */
.pxsize75{
	width:75px;
}
/* 80px */
.pxsize80{
	width:80px;
}
/* 100px */
.pxsize100{
	width:100px;
}
/* 150px */
.pxsize150{
	width:150px;
}
/* 200px */
.pxsize200{
	width:200px;
}