@charset "UTF-8";

.content_table{
	width : 1080px;
	border : 0px;
    vertical-align : top;
    
}
/*버튼영역*/
.top_area{
	width : 1080px;
    font-size:0;
    height: 50px;
}
 
.content_btn {
	width : 50%;
	height : 50px;
	display: inline-block;
}
/*버튼을 div로 만들었습니다.
  버튼 속성입니다.
  버튼은 float:right을 썼기때문에 반대로 적어주세요.
*/
.content_btn > div {
	display: table;
	width : 80px;
	height: 25px;
	font-size: 10pt;
	color: #595959;
	text-align : center;
	border-radius : 5px;
	float : right;
	background-color : #F2B807;
	padding-top : 5px;
	margin-top : 10px;
	margin-left : 10px;
}
/*버튼의 hover입니다.*/
.content_btn > div:hover {
	background-color : #F2CB07;
	cursor : pointer;
}

.btn {
	margin-right : 10px;
}
/*테이블 속성입니다.*/
.content_table > table{
	border-collapse : collapse;
	padding : 0px;
	margin : 0px;
	border-spacing : 0px;
	font-size : 10px;
	border-top : 2px solid #F2CB07;
	width : 1080px;
}
.content_table > table >tr{
	border-bottom : 1px solid #CCC;
}
/*주제열입니다.
*/
.content_table > table> th {
	background-color : #EEEEEE;
	border-right : 1px solid #CCC;
	height : 45px;
	padding : 0px;
}
/*내용열입니다.*/
.content_table > table> td{
	padding : 10px 15px;
}
/*내용열에 들어가는 텍스트 박스의 속성입니다.
  기본적으로 내용열에 텍스트박스만 있을때 쓰는 속성입니다.
*/
.table_txt{
	display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 35px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
}
/*내용열에 텍스트박스와 버튼이 같이 들어갈 경우 사용하는 속성입니다.*/
.table_txt1{
	display: inline-block;
    vertical-align: top;
    /*버튼과 같이해서 width를 조절해주세요.*/
    width: 80%;
    height: 35px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
}
.table_txt1:focus{
    border: 1px solid #F2B807;
    box-shadow: none;
    outline: none;
}
/*여러열이 변동이 되면  txt1, txt2같이 표시해주세요.*/
.table_txt2{
	display: inline-block;
    vertical-align: top;
    width: 85%;
    height: 35px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
}
/*내용열에 들어가는 버튼의 속성입니다.*/
.bottom_btn_2 {
	display : inline-block;
	width : 60px;
	height : 35px;
	margin-left : 2px;
	border : 0px;
	background-color : #595959;
	color: #F2F2F2;

	border-radius : 5px;
}
.bottom_btn_2:hover {
	background-color: #F2CB07;
	color: #595959;
	cursor : pointer;
}
.field_name {
    background-color: #f2f2f2;
    color: #272727;
    border: 1px solid #cacaca;
    font-weight: bold;
    font-size: 10pt;
}
/* 맨왼쪽 필드명 스타일 - border-left 제거 */
.first_field_name {
    border-left: 0;
    font-weight: bold;
}
/* 필드 내용 */
.field_contents {
    padding: 10px 15px;
    border-bottom: 1px solid #cacaca;
    

    text-align: left;
    vertical-align: top;
}
/* 강조 텍스트 */
.acc_txt {
    color: #ff3737;
    font-weight: 800;
}
/* 기본 입력폼 스타일 */
.input_normal {
    width: 100%;
    height: 30px;
    border: 1px solid #eee;
    border-radius: 3px;

    font-size: 10pt;
    text-indent: 5px;
}
/* 기본 입력폼 포커스 스타일 */
.input_normal:focus {
    border: 1px solid #F2B807;
    box-shadow: none;
    outline: none;
}
/* 기본 입력폼 Placeholder 스타일 */
.input_normal::placeholder {
    color: #cacaca;
}



/*버튼영역*/
.top_area{
	width : 1080px;
	font-size:0;
}
.top_title_area{
	width : 50%;
	height : 50px;
	
}
.content_btn {
	width : 50%;
	height : 50px;
    
    
}
/*버튼을 div로 만들었습니다.
  버튼 속성입니다.
  버튼은 float:right을 썼기때문에 반대로 적어주세요.
*/
.content_btn > div {
	display: table;
	width : 80px;
	height: 25px;
	font-size: 10pt;
	color: #595959;
	text-align : center;
	border-radius : 5px;
	float : right;
	background-color : #F2B807;
	padding-top : 5px;
	margin-top : 10px;
	margin-left : 10px;
}
/*버튼의 hover입니다.*/
.content_btn > div:hover {
	background-color : #F2CB07;
	cursor : pointer;
}

.btn {
	margin-right : 10px;
}

/*내용열에 들어가는 텍스트 박스의 속성입니다.
  기본적으로 내용열에 텍스트박스만 있을때 쓰는 속성입니다.
*/
.table_txt{
	display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 35px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
}
/*내용열에 텍스트박스와 버튼이 같이 들어갈 경우 사용하는 속성입니다.*/
.table_txt1{
	display: inline-block;
    vertical-align: top;
    /*버튼과 같이해서 width를 조절해주세요.*/
    width: 80%;
    height: 35px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
}
/*여러열이 변동이 되면  txt1, txt2같이 표시해주세요.*/
.table_txt2{
	display: inline-block;
    vertical-align: top;
    width: 85%;
    height: 35px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
}
/*내용열에 들어가는 버튼의 속성입니다.*/
.bottom_btn_2 {
	display : inline-block;
	width : 60px;
	height : 35px;
	margin-left : 2px;
	border : 0px;
	background-color : #595959;
	color: #F2F2F2;

	border-radius : 5px;
}
.bottom_btn_2:hover {
	background-color: #F2CB07;
	color: #595959;
	cursor : pointer;
}
.field_name {
    background-color: #f2f2f2;
    color: #272727;
    border: 1px solid #cacaca;

    font-size: 10pt;
}
/* 맨왼쪽 필드명 스타일 - border-left 제거 */
.first_field_name {
    border-left: 0;
}
/* 필드 내용 */
.field_contents {
    padding: 10px 15px;
    border-bottom: 1px solid #cacaca;
    
}


.top_title_area{
	width : 50%;
	height : 50px;
	display: inline-block;
}
.content_btn {
	width : 50%;
	height : 50px;
	display: inline-block;
}
/*버튼을 div로 만들었습니다.
  버튼 속성입니다.
  버튼은 float:right을 썼기때문에 반대로 적어주세요.
*/
.content_btn > div {
	display: table;
	width : 80px;
	height: 25px;
	font-size: 10pt;
	color: #595959;
	text-align : center;
	border-radius : 5px;
	float : right;
	background-color : #F2B807;
	padding-top : 5px;
	margin-top : 10px;
	margin-left : 10px;
}
/*버튼의 hover입니다.*/
.content_btn > div:hover {
	background-color : #F2CB07;
	cursor : pointer;
}

.btn {
	margin-right : 10px;
}
/*테이블 속성입니다.*/
table{
	border-collapse : collapse;
	padding : 0px;
	margin : 0px;
	border-spacing : 0px;
	font-size : 10px;
	border-top : 2px solid #F2CB07;
	width : 1080px;
}
tr{
    border-bottom : 1px solid #CCC;
    
}
/*주제열입니다.
*/
th {
	background-color : #EEEEEE;
	border-right : 1px solid #CCC;
	height : 45px;
	padding : 0px;
}
/*내용열입니다.*/
td{
	padding : 10px 15px;
}
/*내용열에 들어가는 텍스트 박스의 속성입니다.
  기본적으로 내용열에 텍스트박스만 있을때 쓰는 속성입니다.
*/
.table_txt{
	display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 35px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
}
/*내용열에 텍스트박스와 버튼이 같이 들어갈 경우 사용하는 속성입니다.*/
.table_txt1{
	display: inline-block;
    vertical-align: top;
    /*버튼과 같이해서 width를 조절해주세요.*/
    width: 80%;
    height: 35px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
}
/*여러열이 변동이 되면  txt1, txt2같이 표시해주세요.*/
.table_txt2{
	display: inline-block;
    vertical-align: top;
    width: 85%;
    height: 35px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
}
/*내용열에 들어가는 버튼의 속성입니다.*/


.field_name {
    background-color: #f2f2f2;
    color: #272727;
    border: 1px solid #cacaca;

    font-size: 10pt;
}
/* 맨왼쪽 필드명 스타일 - border-left 제거 */
.first_field_name {
    border-left: 0;
}
/* 필드 내용 */
.field_contents {
    padding: 10px 15px;
    border-bottom: 1px solid #cacaca;
    

    text-align: left;
    vertical-align: top;
}
/* 강조 텍스트 */
.acc_txt {
    color: #ff3737;
    font-weight: 800;
}
/* 기본 입력폼 스타일 */
.input_normal {
    width: 100%;
    height: 30px;
    border: 1px solid #eee;
    border-radius: 3px;

    font-size: 10pt;
    text-indent: 5px;
}
/* 기본 입력폼 포커스 스타일 */
.input_normal:focus {
    border: 1px solid #F2B807;
    box-shadow: none;
    outline: none;
}
/* 기본 입력폼 Placeholder 스타일 */
.input_normal::placeholder {
    color: #cacaca;


    text-align: left;
    vertical-align: top;
}
/* 강조 텍스트 */
.acc_txt {
    color: #ff3737;
    font-weight: 800;
}
/* 기본 입력폼 스타일 */
.input_normal {
    width: 100%;
    height: 30px;
    border: 1px solid #eee;
    border-radius: 3px;

    font-size: 10pt;
    text-indent: 5px;
}
/* 기본 입력폼 포커스 스타일 */
.input_normal:focus {
    border: 1px solid #F2B807;
    box-shadow: none;
    outline: none;
}
/* 기본 입력폼 Placeholder 스타일 */
.input_normal::placeholder {
    color: #cacaca;
}

/* 중요인물 체크박스 */
.cp_chbox {
	background-color: initial;
	cursor: default;
	-webkit-appearance: checkbox;
	box-sizing: border-box;
	margin: 8px 3px 3px 4px;
	padding: initial;
	border: initial;
	width: 20px;
	height: 20px;
   
}
/* 첨부파일 영역 */
.attach_area {
    margin-top : 100px ;
    width : 1080px;
    border : 0px;
    font-size : 15px;
	vertical-align : top;
}
.attach_area > table {
   
    border-collapse : collapse;
	padding : 0px;
	margin : 0px;
	border-spacing : 0px;
	font-size : 15px;
    border-top : 2px solid #F2CB07;
    border-bottom : 2px solid #F2CB07;
    width : 1080px;
}

.attach_area > table >tr{
	border-bottom : 1px solid #CCC;
}
/*주제열입니다.
*/
.attach_area > table> th {
	background-color : #EEEEEE;
	border-right : 1px solid #CCC;
	height : 45px;
	padding : 0px;
}
/* 첨부파일 제목 */
.attach_title_txt{
    display: inline-block;
	padding: 5px;
    color: #272727;
    font-weight: bold;
    font-size: 15pt;
}
/* 첨부파일 추가 이미지 */
.attach_img {
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.table_title {
	max-width: 1080px;
	min-width: 940px;

	font-size: 15pt;
	font-weight: 700;
}
